Source: ros-noetic-moveit-task-constructor-visualization
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-noetic-catkin, ros-noetic-moveit-core, ros-noetic-moveit-resources-fanuc-moveit-config <!nocheck>, ros-noetic-moveit-ros-visualization, ros-noetic-moveit-task-constructor-core, ros-noetic-moveit-task-constructor-msgs, ros-noetic-roscpp, ros-noetic-rostest <!nocheck>, ros-noetic-rosunit <!nocheck>, ros-noetic-rviz
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-moveit-task-constructor-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-moveit-core, ros-noetic-moveit-ros-visualization, ros-noetic-moveit-task-constructor-core, ros-noetic-moveit-task-constructor-msgs, ros-noetic-roscpp, ros-noetic-rviz
Description: Visualization tools for MoveIt Task Pipeline
